# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

vue3.2_meta/node_modules
vue3.2_meta/dist
vue3.2_meta/dist-ssr
koa2_meta_api/node_modules
koa2_meta_api/dist
koa2_meta_api/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
