body{
  margin:0 auto
}
a{
  text-decoration:none;
}
//tabbar
.line{
  top:10px;

}//注意此处，绝对定位，需要将下一个元素下拉，或者直接删除本样式

//每个框的顶部标题
.title-box{
  background-color: aliceblue;
  max-width: 1000px;
  margin: 2px auto;
  padding-top:10px;
  padding-bottom: 10px;
  min-width: 750px;
  display: flex;
  justify-content: space-between;
  .title-text-left{
    margin-left: 50px;
    font-size: 20px;
    color: cornflowerblue
  }
  .title-text-right{
    margin-right: 50px;
    right:50px;
    font-size: 20px
  }
}
hr{
  margin: 0;
}